body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  color: red;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
tr,
td,
th {
  width: 50vw;
}

thead {
  background-color: #e7ecef;
}

input {
  width: 50vw;
}

#checkbox-input {
  align-items: center;
  margin: 12px;
}

#checkbox-text {
  display: flex;
  justify-content: center;
}
